@using GrievanceManagementSystem.ViewModels
@model UserLoginViewModel
@{
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
        <div class="card-body">
            @using (Ajax.BeginForm("Login", "Home", null))
            {
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "name@example.com" })
                    <label for="EmailAddress">Email Address</label>
                    @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "validation-error" })
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    <label for="Password">Password</label>
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation-error" })
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                    <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="home/forgotpassword">Forgot Password?</a>
                    <button type="submit" class="btn btn-primary" id="user-login" data-test-selector="btnSubmitLogin">Login</button>
                </div>
            }
        </div>
        <div class="card-footer text-center py-3">
            <div class="small"><a href="/home/registor">Need an account? Sign up!</a></div>
        </div>
    </div>
</div>
