@using GrievanceManagementSystem.ViewModels
@model GrievanceDetailsViewModel
@{
    ViewBag.Title = "CreateGrievance";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h4 class="font-weight-light">Create Grievance</h4></div>
        <div class="card-body">
            @using (Html.BeginForm("CreateGrievance", "Student", FormMethod.Post))
            {
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-floating mb-3 mb-md-0">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", disabled = "disabled" })
                            <label for="FullName">Name</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            @Html.TextBoxFor(m => m.EnrollmentNumber, new { @class = "form-control", disabled = "disabled" })
                            <label for="EnrollmentNumber">Enrollment Number</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating mb-3 mb-md-0">
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", disabled = "disabled" })
                            <label for="EmailAddress">Email Address</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", disabled = "disabled" })
                            <label for="ContactNumber">Contact Number</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-floating mb-3 mb-md-0">
                            @Html.DropDownListFor(m => m.DepartmentId, Model.DepartmentList, new { @class = "form-control" })
                            <label for="DepartmentId">Concern Department</label>
                            @Html.ValidationMessageFor(m => m.DepartmentId, null, new { @class = "validation-error" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            @Html.DropDownListFor(m => m.GrievanceSendToId, Model.GrievanceSendToList, new { @class = "form-control" })
                            <label for="DepartmentId">Grievance Send To</label>
                            @Html.ValidationMessageFor(m => m.GrievanceSendToId, null, new { @class = "validation-error" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating mb-3 mb-md-0">
                            @Html.DropDownListFor(m => m.PriorityId, Model.PriorityList, new { @class = "form-control" })
                            <label for="DepartmentId">Priority</label>
                            @Html.ValidationMessageFor(m => m.PriorityId, null, new { @class = "validation-error" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            @Html.DropDownListFor(m => m.GrievanceTypeId, Model.GrievanceTypeList, new { @class = "form-control" })
                            <label for="GrievanceTypeId">Grievance Type</label>
                            @Html.ValidationMessageFor(m => m.GrievanceTypeId, null, new { @class = "validation-error" })
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Enter subject", @maxLength = "200" })
                    <label for="Subject">Subject</label>
                    @Html.ValidationMessageFor(m => m.Subject, null, new { @class = "validation-error" })
                </div>

                <div class="form-floating mb-3">
                    @Html.TextAreaFor(m => m.Details, new { @class = "form-control", @placeholder = "Enter description", @maxLength = "500", @style = "height:100px" })
                    <label for="Details">Description</label>
                    @Html.ValidationMessageFor(m => m.Details, null, new { @class = "validation-error" })
                </div>

                <div class="mt-4 mb-0">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block" id="creategrievance" data-test-selector="btnSubmit">Submit</button>
                    </div>
                </div>
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.StatusId)
            }
        </div>
    </div>
</div>

