@using GMS.Model
@using GrievanceManagementSystem.ViewModels
@model GrievanceDetailsListViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1 class="mt-4"></h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="font-weight:bold">Grievance List</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        @*<i class="fas fa-table me-1"></i>*@
        <div class="row">
            <div class="col-md-2">
                <span style="font-weight:bold">Department :</span>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.DepartmentId, Model.DepartmentList, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <div class="btn btn-primary btn-block" id="searchId">Search</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Grievance Number</th>
                    <th>Grievance Type</th>
                    <th>Priority</th>
                    <th>Concern Department</th>
                    <th>Send To</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Grievance Number</th>
                    <th>Grievance Type</th>
                    <th>Priority</th>
                    <th>Concern Department</th>
                    <th>Send To</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                @if (Model.GrievanceDetailsList?.Count > 0)
                {
                    foreach (var item in Model.GrievanceDetailsList)
                    {
                        <tr>
                            <td style="font-weight:bold">@item.GrievanceNumber</td>
                            <td>@item.GrievanceTypeName</td>
                            <td>@item.PriorityName</td>
                            <td>@item.DepartmentName</td>
                            <td>@item.GrievanceSendToName</td>
                            <td>@item.StatusName</td>
                            <td><a href="/Student/UpdateGrievance?grievanceId=@item.GrievanceId" title="View"><i class="fas fa-eye me-1"></i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/datatables.js"></script>
<script src="~/Scripts/datatables-simple-demo.js"></script>
<script>
    $(document).ready(function () {
        $('#searchId').click(function () {
            var departmentId = $("#DepartmentId").val();
            window.location.href = "/Student/GrievanceList?departmentId=" + departmentId;
        })
    });
</script>